body {
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  border: 10px solid red;
  width: 20%;
  text-align: center;
}

header h1 {
  font-size: 24px;
}

.instruction {
  font-size: 14px;
  text-align: left;
}

button {
  background-color: red;
  color: white;
  padding: 5px 20px;
  border-radius: 50%;
  font-size: 0.9em;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}