/*
Description: Minimal styling for ToDo list.
Author: Emerald Golightly 
Email: emerald.golightly@student.curtin.edu
*/

body {
    font-family: helvetica, sans-serif;
    font-size: 16px;
    width: 600px;
    margin: 0 auto;
  }
  
  .task {
    list-style: none;
  }
  
  .task.completed {
    text-decoration: line-through;
  }